
body{
  background-image: url(../images/bac.png);

}
h1{
  text-align: center;
  font-style: oblique;
  font-size: 45px;
}
#player1{
  font-size: 25px;
  padding-bottom: 25px;
}
#player2{
  font-size: 25px;
  padding-top: 25px;
}
